# Propriété PAR DÉFAUT pour choisir l'algorithme (NN, CW, ou AI)
optimizer:
  type: NN

spring:
  jpa:
    show-sql: false

liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

logging:
  level:
    root: INFO
    com.delivery.optimizer: INFO